/*Colors*/
:root {
    --primary-color: #5142FC;
    --done-color: #47A432;
    --warning-color: #FFBD0C;
    --critical-color: #DF4949;
    --white: #ffff;
    --secondary: #EBEBEB;
    --backround-color: #151420;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Urbanist', sans-serif;
}

/* HEADER'S STYLES */
header {
    background-color: var(--backround-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-block-end: 1px solid #8A8AA0;
}

.nav_list {
    display: flex;
}

.nav_list li {
    list-style: none;
    margin-inline-end: 40px;
}

.nav_list li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.nav_list li a svg {
    margin-inline-start: 6px;
}

.nav_right {
    display: flex;
    align-items: center;
}

.nav_search_icon {
    margin-inline-end: 38px;
}

.nav_right .nav_right_button {
    width: 210px;
    height: 48px;
    border: none;
    border-radius: 24px;
    padding: 13px 35px;
    border: 1px solid #5142FC;
    background-color: var(--backround-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.wallet_icon {
    margin-inline-end: 10px;
}

/* HEADER'S STYLES END */


/* Main's Styles */
main {
    background-color: var(--backround-color);
    width: 100%;
    min-height: 100vh;
}

    /*Hero's syles*/

.hero {
    display: flex;
    justify-content: space-around;
}

.hero_info {
    width: 634px;
    height: 364p;
    margin-block-start: 134px;
}

.hero_title {
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    color: white;
}

.hero_title_fancy {
    background: linear-gradient(180deg, rgba(226,80,229,1) 10%, rgba(75,80,230,1) 55%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: var(--backround-color);
    padding: 6px 0;
}




    /*Hero's syles end*/

/* Main's Styles end */





